.contact {
  background: #0f172a;
  padding: 100px 20px;
  text-align: center;
}

.formcontainer {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formcontainer input,
.formcontainer textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.contact-btn {
  padding: 10px;
  background: #6366f1;
  color: white;
  border: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .contact {
    padding: 60px 20px;
  }
}