/* ===== NAVBAR ===== */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #111827;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  z-index: 1000;
}

/* Logo */
.left h2 {
  color: white;
  margin: 0;
}

/* Links (Desktop) */
.right {
  display: flex;
  gap: 25px;
}

.nav a {
  color: #f9fafb;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.nav a:hover {
  color: #6366f1;
}

/* Hamburger */
.menu-icon {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  /* Show hamburger */
  .menu-icon {
    display: block;
  }

  /* Hide links initially */
  .right {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #111827;

    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  /* Show menu when clicked */
  .right.active {
    display: flex;
  }

  .right a {
    margin: 10px 0;
    font-size: 16px;
  }
}