.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  z-index: 1000;
}

.nav a {
  color: #f9fafb;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
  font-size: small;
}

.nav a:hover {
  color: #6366f1;
}

.right {
  display: flex;
  gap: 20px;
}
.right.active {
  display: flex;
}

/* Hamburger hidden in desktop */
.menu-icon {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .right {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #111827;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 20px 0;
  }

  /* 🔥 THIS IS KEY */
  .right.active {
    display: flex !important;
  }

  .right a {
    margin: 10px 0;
  }
}