.projects {
  background: #0f172a;
  padding: 100px 20px;
  text-align: center;
}

.projectboxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.projectcard {
  background: #1f2937;
  padding: 20px;
  border-radius: 10px;
}

/* MOBILE */
@media (max-width: 768px) {
  .projects {
    padding: 60px 20px;
  }

  .projectboxes {
    grid-template-columns: 1fr;
  }
}