.skills {
  background: #0f172a;
  color: #f9fafb;
  padding: 100px 50px;
  text-align: center;
}

.skills h2 {
  font-size: 36px;
  margin-bottom: 60px;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 25px;
}

.boxes {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 14px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  font-size: 32px;
}

/* MOBILE */
@media (max-width: 768px) {
  .skills {
    padding: 60px 20px;
  }

  .box {
    grid-template-columns: repeat(2, 1fr);
  }
}