.skills {
  background: #0f172a;
  color: #f9fafb;
  padding: 100px 20px;
  text-align: center;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.boxes {
  padding: 20px;
  border-radius: 10px;
  background: #1f2937;
}

/* MOBILE */
@media (max-width: 768px) {
  .skills {
    padding: 60px 20px;
  }
}